n8n RAG AI Snack Club.json
{
  "name": "Knowledge Management Assistant",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get snippets from Pinecone Assistant\nconst snippets = $json.snippets || [];\n\n// Get current question and conversation history\nconst chatInput = $('Webhook').item.json.body.question;\nconst conversationHistory = $('Webhook').item.json.body.conversation_history || [];\n\n// Filter for high-confidence results\nconst highConfidenceSnippets = snippets.filter(s => s.score > 0.75);\n\n// Build context with sources\nconst contextWithSources = highConfidenceSnippets.map((s, index) => {\n  const source = s.metadata?.file?.name || s.reference?.file?.name || 'Unknown source';\n  return `[Source ${index + 1}: ${source}]\\n${s.content}`;\n}).join('\\n\\n---\\n\\n');\n\nconst hasGoodContext = highConfidenceSnippets.length > 0;\n\n// Extract unique sources\nconst sources = [...new Set(highConfidenceSnippets.map(s => \n  s.metadata?.file?.name || s.reference?.file?.name || 'Unknown'\n))];\nconst sourcesList = sources.map((s, i) => `[${i + 1}] ${s}`).join('\\n');\n\n// Build conversation context (last 3 turns)\nconst recentHistory = conversationHistory.slice(-6); // Last 3 Q&A pairs\nconst historyText = recentHistory.length > 0 \n  ? `\\n\\nPrevious conversation:\\n${recentHistory.map(msg => `${msg.role}: ${msg.content}`).join('\\n')}`\n  : '';\n\nreturn {\n  json: {\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a helpful assistant. Answer concisely based on provided context. Use conversation history for follow-up questions. ALWAYS end with source citations.'\n      },\n      {\n        role: 'user',\n        content: hasGoodContext\n          ? `Context:\\n${contextWithSources}${historyText}\\n\\nCurrent question: ${chatInput}\\n\\nInstructions:\\n1. Answer using context and conversation history\\n2. Be concise (2-3 sentences)\\n3. End with:\\n\\nSources:\\n[1] filename.pdf\\n\\nAvailable sources:\\n${sourcesList}`\n          : `I don't have confident information about \"${chatInput}\" in my knowledge base.`\n      }\n    ],\n    conversation_history: conversationHistory,\n    current_question: chatInput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "71d0c734-0d98-43ad-bd48-d1ade05a8a43",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.messages[1].content }}"
            },
            {
              "content": "={{ $json.messages[0].content }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        0
      ],
      "id": "f5d9bc69-4ba9-4efa-b174-0318af925d70",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "assistantData": "{\"name\":\"rag-assistant\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
        "query": "={{ $('Webhook').item.json.body.question }}",
        "additionalFields": {
          "topK": 5
        }
      },
      "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "34d18a4f-4c86-408c-a6a1-81533e66bbea",
      "name": "Get context snippets",
      "credentials": {
        "pineconeAssistantApi": {
          "id": "CuyC0eJa8LddnDU8",
          "name": "Pinecone Assistant -Workshop"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "59d564bf-8a1c-477e-a3b6-8c8b2a53c864",
      "name": "Webhook",
      "webhookId": "aa1b9eb5-17c5-44cf-a819-f7321adcd22e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        0
      ],
      "id": "1bd8ffb9-c80a-4298-a72e-1e9c67eec982",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get context snippets": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get context snippets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "de774c78-d985-487c-b4ee-2ddc4428940a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf046d5fbc431933c731a23ed6fa255983a7bcbb896ea21cef6218add034d758"
  },
  "id": "HnPgAQvQzCA8vGNQ",
  "tags": []
}